<div class="wrapper">
  <div class="container">
    <div class="carousel">
      <div class="prev"></div>
      <ul>
        <li class="active"><%= image_tag("chicken", class: 'image') %></li>
        <li><%= image_tag("lotsofcats", class:'image') %></li>
      </ul>
      <div class="next"></div>
    </div>
  </div>
</div>
