<div class="wrapper">
  <div class="tabs-container" id="valeurs">
    <ul class="tabs">
      <li class="tab-link current" data-tab="tab-1">Tab One</li>
      <li class="tab-link" data-tab="tab-2">Tab Two</li>
      <li class="tab-link" data-tab="tab-3">Tab Three</li>
    </ul>
    <br/>
    <div id="tab-1" class="tab-content current">
    </div>
    <div id="tab-2" class="tab-content">
      <div class="slide-container">
        <div class="carousel" id="produits">
          <div class="prev"></div>
          <ul>
            <li class="slide-active", id='img-1'><%= image_tag("4", height:'400px', width: '700px') %></li>
            <li class="slide", id='img-2'><%= image_tag("1", id:'img-2', height:'400px', width: '700px') %></li>
            <li class="slide", id='img-3'><%= image_tag("3", id:'img-3', height:'400px', width: '700px') %></li>
          </ul>
          <div class="next"></div>
        </div>
      </div>
      <ol class="dots">
        <li id="dot-1" class="dot-active"></li>
        <li id= "dot-2"></li>
        <li id="dot-3"></li>
      </ol>
    </div>
    <div id="tab-3" class="tab-content">
    </div>
  </div>
</div>
